*{
    font-family:Gill Sans, sans-serif;
}
body{
    background-color:#98DDFF;
}
.main{
    background-image:url('https://www.usnews.com/object/image/00000184-1ef9-d53d-a78f-7ff97b7f0000/westtown-school.jpg?update-time=1666968611287&size=superhero-large');
}
.mainfont{
    color:#98DDFF;
}
button {
    background-color: white;
    color: #6a4a3a;
    border: none;
    padding: 30px 50px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    outline: none;
}
h1{
    color:#6a4a3a;
    font-size:60px;
    text-align:center;
}
h2{
    font-size:50px;
}
p{
    font-size:40px;
    color:#6a4a3a;
    font-weight:500;
}
li{
    font-size:40px;
    color:#6a4a3a;
}
h3{
    color:#6a4a3a;
    font-size:40px;
}
.center{
    text-align:center;
}
input{
    font-size:40px;
    border-radius: 10px;
    color:#6a4a3a;
}
.sheets{
    text-align:center;
    width:1300px;
    height:500px;
}
footer{
    color:white;
    font-size:5px;
}
